<ion-content>
  <div>
    <center>
      <img
      src="../../assets/logo unbin.jpg"
    </div>
    <div class="title">
      <h3> login</h3>
    </div>
    <ion-item class="wrap-input">
      <ion-input [(ngModel)] ="username" type="text" placholder="username"></ion-input>
    </ion-item>

  <ion-item class="wrap-input">
    <ion-input [(ngMode)]="username type=text" placholder = "password"></ion-input>
    <div class="reg">
      <h5>Doesen't have account?<h5 calas="btn" (click) ="register()"><u>register</u><b/></h5>
    </div>
    <div class="container-form-btn">
      <button> (click)="login()" class="form-btn custom-font"><b>login</b>
      </button>
    </div>
</ion-content>