<ion-content>
  <div class="logo">
      <img src="assets/logo unbin.jpg" />
    </div>
    <div class="title">
      <h3> login</h3>
    </div>
    <ion-item class="wrap-input">
      <ion-input [(ngModel)]="username" placholder="Username" />
    </ion-item>

    <ion-item class="wrap-input">
      <ion-input [(ngModel)]="password" placholder="Password" />
    </ion-item>

    <div class="reg">
      <h5>Doesn't have account?<b class="btn" (click)="register()"><u>Register</u></b>
      </h5>
    </div>

    <div class="container-form-btn">
      <button (click)="login()" class="form-btn custom-font"><b>login</b></button>
    </div>
</ion-content>