<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Register</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container d-block justify-content-center">
    <ion-item>
      <ion-label position="floating">NPM</ion-label>
      <ion-input [(ngModel)]="npm" placeholder="Insert NPM"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input
        [(ngModel)]="nama"
        placeholder="Insert Nama"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Program Studi</ion-label>
      <ion-input
        [(ngModel)]="prodi"
        placeholder="Insert Prodi"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        placeholder="Insert Email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telepon</ion-label>
      <ion-input
        [(ngModel)]="telp"
        placeholder="Insert Telepon"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        [(ngModel)]="username"
        placeholder="Insert Username"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        placeholder="Insert Password"
      ></ion-input>
    </ion-item>
    <div class="form-group mt-3">
      <button (click)="register()" class="form-control btn btn-primary">Register</button>
    </div>
  </div>
</ion-content>